* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*============================ body styles ========================================== */
body {
    min-height: 100vh;
    background-color: #E5F2FF;
    font-family: sans-serif;
    color: #274867;

    display: grid;
    grid-template-rows: 8% 1fr 8%;
}

/*============================ header styles ========================================== */

.header {
    padding: 15px 20px;
    background-color: #fff;
    border-bottom: 1px solid rgba(1, 124, 255, 0.5);

    display: flex;
    justify-content: space-between;
}

.header__brand, .header__nav {
    flex: 1 0 50%;
}

.header__nav {
    display: flex;
    justify-content: flex-end;
    gap: 10rem;
}

/*============================ main styles ========================================== */
.main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.main__section--info {
    max-width: 45%;
}

.main__heading {
    font-size: 3rem;
    margin: 2rem 0;
}

/* Crads styles */
.main__section--cards {
    display: flex;
    font-size: 1.5rem;
    gap: 10rem;
}

.main__card {
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #fff;
}

.main__card-price {
    font-size: 2.5rem;
}

.main__card-header-container {
    border-bottom: 1px solid #000;
    padding: 0.5rem 2rem 1.5rem;
}

.main__card-body-container {
    padding: 1rem 2rem;
}

.main__card-element {
    margin-bottom: 0.7rem;
}

.main__card-button {
    font-size: 1rem;
    color: #274867;
    background-color: peachpuff;
    border: none;
    border-radius: 10px;
    padding: 0.5rem 2rem;
}
/*============================ footer styles ========================================== */
.footer {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-top: 1px solid rgba(1, 124, 255, 0.5);
}
/*============================ re-usables ========================================== */
.bold {
    font-weight: bold;
}